<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Каталог</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body class="bg-light">
    <!-- navbar start -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="../../index.html">Music House</a>
          <img src="../../img/png-clipart-symbolize-music-note-logo.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="../../index.html">О нас</a><!-- главная страница -->
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../../pages/catalog.html">Каталог</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../../pages/Registration.html">Регистрация</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../../pages/Authorization.html">Вход</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../pages/Contact.html">Контакты</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <!-- navbar end -->

    <!-- Описание товара start -->
    <div class="container text-light">
        <h1>Описание товара</h1>
    </div>
    <!-- Описание товара end -->

<!-- Основная часть start -->

<div class="container d-flex justify-content-center">
<div class="card" style="width: 18rem;">
    <img src="../../img/catalog-img/2744535_original.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Гармошка</h5>
      
    </div>
</div>
<div class="text-light">


    <h4>Категория: </h4> <h5> Струнные инструменты</h5>
    <h4>Год выпуска: </h4> <h5> 2007</h5>
    <h4>Цена: </h4> <h5>3200 </h5>
    <a class="btn btn-light" href="../Cart.html">В корзину <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg></a> 
</div>
</div>
<!-- Основная часть end -->


    <script src="../../js/code.jquery.com_jquery-3.7.1.min.js"></script>
    <script src="../../js/bootstrap.bundle.min.js"></script>
</body>
</html>